:root{
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
    font-family: 'Raleway', sans-serif;
}
*{
    border: 1px red solid;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
}
main{
    width: 85%;
    margin: 30% auto;
}
.fyloContainer{
    background-color: var(--DarkBlue);
    border-top-right-radius: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fyloContainer div{
    width: 70%;
    margin: auto;
}
.fyloContainer__logo figure{
    margin-left: 0;
    padding-top: 2.5rem;
}
.fyloContainer__icons{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
}
.fyloContainer__icons figure{
    background-color: var(--VeryDarkBlue);
    margin-left: 0;
    margin-right: 20px;
    border-radius: 7px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressContainer{
    background-color: var(--DarkBlue);
    border-radius: 10px;
    margin-top: 7%;
    padding: 5% 5%;
    padding-bottom: 15%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressContainer__parrafo{
    font-weight: 400;
}
.progress{
    background-color: var(--VeryDarkBlue);
    height: 20px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.progress__level{
    background: rgb(255,163,153);
    background: linear-gradient(90deg, rgba(255,163,153,1) 0%, rgba(255,76,150,1) 94%);
    height: 17px;
    width: 81.5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.progress__circle{
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 1px;
}
.progressContainer__gigas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gigas{
    background-color: white;
    color: var(--GrayishBlue);
    font-weight: 700;
    height: 60px;
    width: 40%;
    border-radius: 10px;
    padding: 0px 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -18%;
}
.gigas p:first-child{
    color: var(--VeryDarkBlue);
    font-size: 2rem;
}